.blog-titles{
    color:white;
    font-size: 40px;
}
.individual-blog-container{
    max-height: 300px;
    /* padding: 2%; */
    overflow: hidden;
}
.description{
    color:#a8a4a4;
    font-size: 20px;
}